h1{
    color: #ee3e80;
    text-align: center;
    font-weight: bold;
    display: block;
    text-shadow: 2px 2px 0 black,2px 2px 0 black;;
}
h2{
    color: blue;
}
body{
    font-family: Arial, Verdana, sans-serif;
    background-color: rgb(200,200,200);
    background-color: rgba(0,0,0,0.5);
}
table{
 border-collapse: collapse;
 float: left;
 display: inline-block;
}
th{
 height: 10px;
 padding:10px;
 text-align: left;
 vertical-align: bottom;
 background-color: #6600CC;
 color: white;
 font-weight: bold;
}
td{
  height:10px;
  padding:10px;
  vertical-align: bottom;
 background-color: #6699CC;
 color: black;
}
table, th, td{
  font-size: 12x;
  border: 1px solid black;
}
th.title{
    text-align: center;
}
td.name{
    font-weight:bold;
    font-style:italic;
}